<div class="jumbotron">
  <div class="container">
    <h1 class="title">约见牛人</h1>
    <h1 class="title">助你践行</h1>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上预约</a></p>
  </div>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="caption">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h3>海量牛人</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h3>专业顾问</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <div class="caption">
            <h3>按需服务</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
      第一张 计划放置大牛的照片和介绍
			<img src="http://utils.iwebxy.com/placehold/1980x500" alt="First slide">
		</div>
		<div class="item">
      第二张 计划放置大牛的照片和介绍
			<img src="http://utils.iwebxy.com/placehold/1980x500" alt="Second slide">
		</div>
		<div class="item">
      第三张 计划放置大牛的照片和介绍
			<img src="http://utils.iwebxy.com/placehold/1980x500" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel"
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel"
	   data-slide="next">&rsaquo;</a>
</div>
