<div class="wrapper">
    <!-- 轮播图位置 -->
    <section id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://ww3.sinaimg.cn/large/006tKfTcly1ffl6btzvewj31hc0zkgul.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="http://ww1.sinaimg.cn/large/006tKfTcly1ffl6bsjt06j31hc0zk4ca.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="http://ww4.sinaimg.cn/large/006tKfTcly1ffl6btb7dhj31hc0zk7gr.jpg" alt="Third slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
    </div>

    <section></section>
</div>
