/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "simplemde.min";

//灰色背景条：#FAFAFA;
//更深的灰色备用：#252525;



/*****回到顶部****/
#gotop {
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #F25F5C;
   display: none; /*默认先隐藏掉*/
  cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;

}
//固定整体内容宽度
.wrapper-12 {
  width: 1200px;
  margin: 0 auto;

}
//主要背景颜色略微浅灰
body {
  background-color: #FAFAFA;
}

//搜索功能相关的CSS

.search-input {  /*搜索输入框文字 */
  height: 30px;
  color: #666;
  padding: 2px 20px;
  margin-left: -20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
}

.fa {        /*搜索放大镜图标 */
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-button {    /*搜索放大镜按钮样式 */
  width: 40px;
  height: 32px;
  border: none;
  line-height: 1;
  color: black;
  background: none;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  cursor: pointer;
  top: 0;
  right: 0;
}

.search-info{            /*搜索返回的说明文字，比如未搜索到相关商品 */
  font-size: 30px;
  text-align: center;
}

/******************************导航栏**************************/
.navbar{
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2), 0 0 6px 2px rgba(0,0,0,0.15);
}
.navbar-default .navbar-nav > li > a {
  color: black;
  padding-top: 18px;
}


.navbar-brand {
  padding-top: 18px;
  font-size: 20px;
  font-style: 800;
  font-color: black;
}

/************控制全局输入框样式************/
//.form-control {
//background-color: rgba(255,255,255,0);
//border: 1px solid rgba(255,255,255,0.2);
//padding: 6px 30px;
//}
/*.form-control:focus {
border: 1px solid red;
background-color: yellow;
box-shadow: 10px 10px 5px #888888;
}*/
//.navbar-form .form-group{
//position: relative;
//}
//.form-group .fa{
//position: absolute;
//top: 9px;
//left: 10px;
//color: rgba(255,255,255,.7);
//}

/******************************footer**************************/
.footer{
  background-color: #252525;
  height: 65px;
  color: #fff;
}
.footer-text{
  height:65px;
  line-height:65px;
  overflow:hidden;
}


//统一首页超链接样式

.welcome-link {
  color: #000;
  text-decoration: none;
}

.welcome-link:hover {
  color:#000;
  text-decoration: none;
}
// 去除flash信息的margin-bottom: 20px;这个默认属性
.alert {
  margin-bottom: 0;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
