// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/********取消关注*******/


/*****精选栏中的图片大小********/
.welcome-product-small-pic{
  width: 300px;
  margin-top:8px;
}
/*二维码和宣传语*/
.tutor-booking .about-jianxing .about-title2 .keytitle{
    font-weight: 500;
    position: relative;
    left:50%;

}

.tutor-booking .about-jianxing .about-title2 .keywords{
    position: relative;
    left:44%;
}

.tutor-booking .about-jianxing .about-title2{
  position: relative;
  bottom:120px;
}

/******留言区和markdown分割线******/
.comments-main{
  border-top: 1px solid  #e5e5e5;
  padding-top: 20px;
}

/******标题和markdown正文分割线******/
.devider-line{
  border-bottom: 1px solid  #e5e5e5;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

/*************用户头像*************/

.comments .comments-list .user-selfie {
    float: left;
    display: block;
    width: 48px;

}

/*评论区*/
.comments-bg {
    position: relative;
    background: #fcfaf9;
    top: 80px;
    clear: both;
}

.column-comments{
  margin: 0 auto;
  width: 95%;
  margin-left: 40px;



}
.comments-main{
  position: relative;
   /*background-color: #f1efee;*/
  float: left;
    width: 64%;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 50px;


}

/*学员点评*/
.comments-bg .comments-main .comments-switch {
    margin-top: 35px;
}

.comments-bg .comments-main .comments-switch .picked {
    color: #D63E4B;
    font-size: 20px;
}

.comments-bg .comments-main .comments-switch .picked span {
    border-bottom: 2px solid #D63E4B;
}

.comments-bg .comments {
    border-top: none;

}
.comments {
    padding: 28px 0 40px;
    margin-top: -20px;
    overflow: hidden;
}

.comments .comments-list {
    overflow: hidden;
}

.comments-bg .comments .comments-list .comment-all {
    border-bottom: 1px solid #e5e5e5!important;
}

.comments .comments-list li {
    margin-bottom: -1px;
    padding: 30px 0 15px;
    overflow: hidden;
}

/*发表评论*/

.comment-create{
  margin-top: 40px;


}
.comment-create .form-area{
  padding:10px 0 10px 10px;
  height: 100px;

}

/*用户名称*/
.comments .comments-list .comment .comment-hd {
    margin-bottom: 0px;
    margin-top: 2px;
    overflow: hidden;
    float: left;
    margin-right: 13px;
    font-weight: 700;




}

/*留言内容*/
.comments .comments-list .comment .comment-bd {
    line-height: 22px;
    color: #666;
    clear: left;



}

.comments-bg .comments .comments-list .comment-all .comment {
    border-bottom: none!important;
}

.comments .comments-list .comment {
    margin-left: 70px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
    position: relative;
    top:15px;
}

/*分割线*/
.line{
  border-bottom: 1px solid #e5e5e5!important;
}

/*参与话题*/
.comments .comments-list .comment-topic-name {
    margin-top: 15px;
    color: #939393;
}

/*参与时间*/
.comments .comments-list .comment-ft {
    margin-top: 10px;
    line-height: 16px;
    color: #939393;
    font-size: 12px;
}

/*评论翻页符*/
.comment-pagination{
  margin-bottom: 100px;
  border-radius: 15px ;
  position: relative;
  left:34%;
  width:50%;
}





/*点赞和踩*/
.vote{
  width:50%;
  display: inline-block;
  margin-left: 120px;
  margin-bottom: -8px;
}
.upvote{
  float: left;


}

.vote div{
  color: #343434;
}
.downvote{
  float:right;

}


/*网页左右页边距*/
.tutor-full {
    margin: 0 0px 0 40px;
    position:relative;
}
.topic-list{
  margin: 0 0px 0 40px;
}
/*详情页顶端大图*/
/*cover */
div {
    display: block;
}
body {

    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;

    color: #343434;
    line-height: 18px;

}

body,div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    font-weight: 400;
  line-height: 1.58;
}

.cover {
    position: relative;
    height: 500px;


}

/*cover-image*/
/*.cover .cover-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: inherit;
    background-image :url('http://ww3.sinaimg.cn/large/006tNbRwgy1ffnd9wk3raj30u00min16.jpg');
    z-index: -1;

}*/

/*圆形肖像*/
.tutor-full .tutor-avatar img {
    width: 130px;
    height: 130px;

}




img{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;

}

.topic-item{
  background-color: #fcfaf9;
}

.product-show-main{
  float: left;
/*width: 648px;*/
width: 64%;/*左边主内容的宽度*/
margin-right: 32px;

}

.tutor-full .tutor-full-main {

    text-align: center;

}

.tutor-full .tutor-avatar {
    float: none;
    width: 136px;
    height: 136px;
    padding:3px;
    background: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-top:30px;

}

.tutor-full .tutor-avatar:hover {

    background: rgba(187,222,251 ,1);


}


 .tutor-full .tutor-avatar, .tutor-full .tutor-avatar img
  {z-index: auto;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

span{
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
}


/*专家姓名*/
.tutor-full .tutor-info .tutor-name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0 5px;
}

h1 {

    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
}

.tutor-full .tutor-info {
    text-align: center;
}

/*职位简介*/
.tutor-full .tutor-info .tutor-title {
    display: block;
    font-size: 14px;
    margin: 10px 0 0;
    color: #343434;

}

p{

padding: 0;
border: 0;
font-weight: 400;
vertical-align: baseline;
background: 0 0;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

/*约见信息*/
/*.tutor-full .tutor-info .tutor-detail-more-4 {
    width: 64%;
}
*/

.tutor-full .tutor-info .tutor-detail {
    text-align: center;
    width: 93%;
    margin: 11px auto 4px;
    white-space: inherit;
    height: 26px;
    line-height: 24px;
    padding: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
    transition: all .5s;
}

ul {

    border: 0;
   font-size: 100%;
   font-weight: 400;
   vertical-align: baseline;
   background: 0 0;
}

.tutor-full .tutor-info .tutor-detail .detail .highlight {
    color: #D63E4B;
}

.tutor-full .tutor-info .tutor-detail .detail{
  text-align: center;
  display: inline-block;
    margin: 0 0 0 -2px;
    padding: 0;
    width: 24%;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
   border-left: 1px solid #e5e5e5;
    transition: all .5s;
}

.tutor-full .tutor-info .tutor-detail .detail:first-child {
    border-left: none;
}


/*想见*/
.tutor-full .tutor-info .tutor-detail .detail-more {
    //width: auto!important;
    width:23%;
    padding: 0 15px;
    border-left: 1px solid #e5e5e5;

}


/*图标*/
.tutor-full .tutor-info .tutor-detail .detail .fa, .tutor-full .tutor-info .tutor-detail .detail .stars {

    color: #D63E4B;
    vertical-align: bottom;
    margin-right: 3px;
    font-size: 16px;
}

/*地址*/
.tutor-full .tutor-info .tutor-title .city {
    color: #666;
    font-weight: 700;
    margin: 0 3px;
    display: inline-block;
}


/*价格和评分*/
.topic-list .topic-info {
    margin-bottom: 35px;
    position: relative;
}


/*评分*/
.topic-list .rating {
    position: absolute;
    top: 3px;
    right: 0;
    line-height: 25px;
    font-size: 20px;
    color: #343434;
    cursor: pointer;
}
.topic-list .rating .unit {
    font-size: 12px;
    vertical-align: baseline;
}



li{
  border: 0;
font-size: 100%;
font-weight: 400;
vertical-align: baseline;
}
.topic-list li {
    background: #fcfaf9;
    border-radius: 8px;
    padding: 27px 12px 0;
    position: relative;
    margin-bottom: 20px;
}

/*价格*/
.topic-list .topic-price {
    position: relative;
    clear: both;
    float: left;
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #343434;
}

.topic-list .topic-price .yuan {
    vertical-align: top;
    font-size: 12px;
}
.topic-list .topic-price .price {
    vertical-align: middle;
    font-size: 20px;
}

.topic-list .topic-price .time {
    vertical-align: sub;
    font-size: 12px;
}

/*核心能力*/
.topic-list li h2 {
    line-height: 18px;
    font-size: 18px;
    margin: 20px 0;
    display: inherit;
    margin-top:35px;
}
.topic-list li h2{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2 {

    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;


}
.column, .content {
    width: 100%;
    margin: 0  auto;
}

.tutor-content p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 15px;
    color: #666;
}

.topic-list li li {
    border: 0;
    margin-left: 30px;
    padding: 0;
    margin-bottom: 8px;
    overflow: visible;
    color: #666;

}

/*约..小时，几人约过*/


.topic-list .topic-ft .topic-info {
    display: inline-block;
}

.topic-list .topic-info {
    margin-bottom: 5px;
}
.topic-list .topic-info {
    position: relative;

}
.topic-list .topic-ft{
line-height: 18px;
}

.topic-list .topic-ft {
    border-top: 1px solid #ddd;
    height: 50px;
    line-height: 18px;
}

.topic-list .topic-ft .topic-info .meet-time {
    border-right: 1px solid #ddd;
}

.topic-list .topic-ft .topic-info .meet-num, .topic-list .topic-ft .topic-info .meet-time {
    display: inline-block;
    margin: 16px 6px 16px 0;
    padding-right: 10px;
}


/*分享话题*/
.topic-list .topic-introduction .info {
    font-size: 12px;
}

.topic-list .topic-introduction .info {

    line-height: 100%;
    margin: 25px 0;
}


.topic-list .topic-introduction .info .fa {
    display: inline-block;
    color: #b3b3b3;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    background: #fcfaf9;
    float: none;
    font-size: 25px;
    padding: 0;
}
.topic-list .topic-introduction .info .fa:hover{
  color:#D63E4B;

}
/*展开按钮*/
.topic-list .topic-ft .topic-more-btn {
    float: right;
    height: 18px;
    line-height: 16px;
    border-radius: 9px;
    border: 1px solid #D63E4B;
    color: #D63E4B;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 6px;
    margin-top: 16px;
}
a{
  text-decoration: none;
  margin: 0;

    font-size: 100%;

    background: 0 0;
}

.topic-list .topic-ft .topic-more-btn .fa, .topic-list .topic-ft .topic-more-btn .stars {
    vertical-align: middle;
    font-size: 26px;
    color: #D63E4B;
    margin-top: -4px;
}

/*关于行家*/
.tutor-content img {
    width: 500px;
    height: auto!important;
    display: block;
    margin: 10px auto 17px;

    border-radius: 8px;
}



.tutor-content .about-tutor-title {
    overflow: hidden;
    margin: 10px 40px 15px;
}

.tutor-content h2 {
    margin: 12px 0 9px;
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
    color: #343434;
}

h2{

padding: 0;
border: 0;
vertical-align: baseline;
background: 0 0;
}

.about-tutor-summary{
  margin: 0 0px 0 40px;
}


/*右侧分享按钮*/

.side{
  float: left;
    /*width: 320px;*/
    width: 32%;/*右边分享区域，推荐区域的宽度*/
}
.tutor-booking .tutor-share-list .share-title {
    font-size: 20px;
    margin: 0 30px 0 10px;
    line-height: 30px;
    float: left;
}

/*分享区域和推荐区域*/
.tutor-booking {
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative;
}

.tutor-booking {
    /*margin: -202px 0 20px;*//*修改分享区域和推荐区域，支付链接区域的位置*/
    margin: 0 20px 0 40px;
    padding: 35px 15px 15px;
    background: #fff;
}

.tutor-booking .tutor-share-list .weibo {
    background: #e6162d; /*微博按钮的背景颜色*/

}

.tutor-booking .tutor-share-list .weibo, .tutor-booking .tutor-share-list .weixin {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    padding: 0!important;
}

.tutor-booking .tutor-share-list .fa, .tutor-booking .tutor-share-list .stars {
    color: #fff;
    font-size: 20px;
}

.tutor-booking .tutor-share-list .weixin {
    background: #5bbc0c;/*微信按钮的背景颜色*/
}
.bdshare-button-style0-16 {
    zoom: 1;
}


/*右侧营销区域*/
.tutor-booking .about-jianxing {
    width: 100%;
    background: #f1efee;
    border-radius: 8px;
    margin: 25px 0 0;
    padding: 25px 0 20px 20px;
    overflow: hidden;

}

.tutor-booking .about-jianxing .about-title{
    margin-bottom: 40px;
    font-size: 18px;
}
.tutor-booking .about-jianxing .about-title .keynote {
    font-weight: 500;
}




/*立即预约*/
.operation-list a {
    border-radius: 20px;
}





.btn-hg {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.btn-primary {
    background: #D63E4B;
    border: 1px solid #D63E4B;
    color: #fff;
    margin-top:25px;
}

.btn-primary{
display: inline-block;
padding: 0;
background: 0 0;
font-size: 14px;
cursor: pointer;
vertical-align: middle;
}

/*加入心愿单*/
.btn-plat {
    border: 1px solid #ccc;
    color: #343434;
    cursor: default;
}

.btn-plat:hover{
  color: #D63E4B;
}

.tutor-booking .follow-btn {
    margin-top: 12px;
}

.btn-plat{
  display: inline-block;

border-radius: 3px;
padding: 0;
background: 0 0;

font-size: 14px;
cursor: pointer;
vertical-align: middle;

}

.tutor-booking .followed {
    border: 1px solid #ccc;
    color: #ff946e;
    cursor: default;
}
.tutor-booking .follow-btn {
    margin-top: 12px;
}


/*相关行家*/
.tutor-topic-list .tutor-list-title{
    font-size: 20px;
    margin: 40px 0 0;
    line-height: 30px;
}

.tutor-topic-list li .tutor-info-left .tutor-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 10px 0 0;
    float: left;

}

.tutor-topic-list li .tutor-info-left .tutor-pic{
    background-size: cover;
    background-position: center;
}

.tutor-topic-list li .tutor-info-right .tutor-name{
    color: #939393;
    font-size: 14px;
    margin-right: 5px;

}

em{
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: 400;
vertical-align: baseline;
background: 0 0;
color: #D63E4B;

}

.tutor-topic-list li .tutor-info-right p{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        max-width: 100%;
        color: #343434;
}

.tutor-topic-list li .tutor-info-right .meet-count{
  font-size: 12px;
color: #939393;
  margin-left: 60px;
}

.tutor-topic-list li .tutor-info-right{
  margin: 8px 0 0;
}

/*折叠按钮*/
/*.tutor-full .tutor-info .tutor-detail .icon-back, .tutor-full .tutor-info .tutor-detail .icon-go {
    padding-bottom: 1px;

    transform: rotate(90deg);
}
.tutor-full .tutor-info .tutor-detail .btn-folding {
    top: auto;
    bottom: 5px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    font-size: 12px;
    background: #b3b3b3;
    color: #fff;
    cursor: pointer;
    position: absolute;

    right: 0;
    text-align: center;
}
.tutor-full .tutor-info .tutor-detail .icon-go {
    padding-left: 1px;
}*/
