// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/******************************大图部分**************************/
.jumbotron {
  height: 650px;
  background-image:url('http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/b7ebf7b7-mint-template-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}
.container-fluid .jumbotron {
  margin-bottom: 0px;
}
.jumbotron .btn-lg {
  padding: 10px 50px;
  font-size: 24px;
  border-radius: 25px;
}
.container-fluid .jumbotron p {
  color: #fff;
}
.container-fluid .jumbotron p:first-child {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 40px;
}
.jumbotron .row,.jumbotron .row .thumbnail{
  border: none;
  background-color:transparent;
}
.jumbotron .row .thumbnail img{
  border-radius: 0;
}
.jumbotron .row .thumbnail .caption{
  margin: 0;
}
// .jumbotron .row .thumbnail .caption{
//   color: #fff;
// }
// .jumbotron .row .thumbnail .caption p{
//   font-size: 20px;
// }
.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
/***************************轮播图**************************/
#myCarousel,#myCarousel .row, #myCarousel .row .thumbnail{
  background-color: #252525;
}
#myCarousel .row .thumbnail{
  border: none;
}
#myCarousel .row .thumbnail img{
  border-radius: 0;
}
#myCarousel .row .thumbnail .caption{
  color: #fff;
}
#myCarousel .row .thumbnail .caption p{
  font-size: 20px;
}
/***************************网站介绍、定位**************************/
#celebrity-online .row{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#celebrity-online .thumbnail{
  padding: 0;
  background-color: #49BB8C;
}
#celebrity-online .col-sm-12 .thumbnail{
  background-color: #FAFAFA;
  border: none;
}
#celebrity-online .col-sm-12 .thumbnail .caption{
  color: #000;
}
#celebrity-online .thumbnail .caption{
  padding: 0;
  margin: 0;
  color: #fff;
}
#celebrity-online .thumbnail .caption p:first-child{
  margin-top: 20px;
}
#celebrity-online .caption .online-log{
  width: 50px;
}
#celebrity-online .caption img {
  border-radius: 0px;
  width: 100%;
}
/***************************网站介绍、定位**************************/
#brand-cooperation .row{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
}
#brand-cooperation .thumbnail{
  background-color: #FAFAFA;
  padding: 0;
}
#brand-cooperation .col-sm-12 .thumbnail{
  background-color: #FAFAFA;
  border: none;
}
#brand-cooperation .thumbnail .caption{
  padding: 0;
  margin: 0;
  color: #000;
  border: none;
}
#brand-cooperation .col-sm-3 .thumbnail{
  border: none;
}
#brand-cooperation .caption .online-log{
  width: 50px;
}
#brand-cooperation .caption img {
  border-radius: 0px;
  width: 100%;
}
#brand-cooperation .col-sm-3 .caption{
  height: 120px;
}
#brand-cooperation .col-sm-3 .sanjieke{
  width: 134px;
  height: 85px;
}
#brand-cooperation .col-sm-3 .wangyi{
  width: 277px;
  height: 78px;
  left:25px;
}
#brand-cooperation .col-sm-3 .luoji{
  width: 151px;
  height: 117px;
  left: 80px;
}
#brand-cooperation .col-sm-3 .dedao{
  width: 89px;
  height: 88px;
  left: 25px;
}
#brand-cooperation .col-sm-3 {
  position: relative;
}
#brand-cooperation .col-sm-3  img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/***************************网站介绍、定位**************************/

#company .thumbnail{
  border: 0px;
  background-color: #49BB8C;
}
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
.thumbnail .caption h3{
  color: rgba(0,0,0,.5);
}
.caption img{
  border-radius: 70px
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin-top: 60px;

}
.welcome-bg {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #49BB8C;
}
/***************************立即预约**************************/
#make-appointment .row{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #49BB8C;
}
#make-appointment .thumbnail{
  background-color: #49BB8C;
  padding: 0;
}
#make-appointment .col-sm-12 .thumbnail{
  border: none;
}
#make-appointment .thumbnail .caption{
  padding: 0;
  margin: 0;
  color: #fff;
  border: none;
}

#make-appointment .caption .online-log{
  width: 50px;
}
#make-appointment .caption span{
  font-size: 20px;
}
#make-appointment .caption p{
  margin-top: 25px;
  margin-bottom: 60px;
}
#make-appointment .btn-lg {
  padding: 10px 50px;
  font-size: 24px;
  border-radius: 25px;
}
