<footer class="footer">
  <div class="row f16">
    <div class="col-md-4 tc footer-text">
      <p>全栈人生</p>
    </div>
    <div class="col-md-4 tc footer-text">
      <p> © Copyright Jianxing 2017 </p>
    </div>
    <div class="col-md-4 tc footer-text">
      <p>Design by
      <a class="col-white" href="http://xyy601-blog.logdown.com/">邢杨杨</a> and
      <a class="col-white" href="http://hukui-blog.logdown.com">胡奎</a>
      </p>
    </div>
  </div>
  <div id="gotop" >
  <div class="letter" style="margin-top:19px;">回到顶部</div>
  </div>
</footer>
