<footer class="outsite-footer" >
  <div class="inside-footer">
    <img class="footer-log" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/a677e9c8-logo-white-with-shadow_01m00o01m00o000000.png" alt="">
    <span class="design">Desgin by 合肥全栈小分队</span>
    <span class="copyright">© Copyright Jianxing  2017</span>
  </div>
</footer>
